<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>

<!--
	<system.diagnostics>

		<trace autoflush="true" />

		<sources>
			<source name="System.Net" maxdatasize="1024">
				<listeners>
					<add name="MyTraceFile"/>
					<add name="MyConsole"/>
				</listeners>
			</source>
		</sources>

		<sharedListeners>
			<add
              name="MyTraceFile"
              type="System.Diagnostics.TextWriterTraceListener"
              initializeData="C:\temp\_BTC_.System.Net.trace.log"  />
			
			<add name="MyConsole" type="System.Diagnostics.ConsoleTraceListener" />
		</sharedListeners>

		<switches>
			<add name="System.Net" value="Verbose" />
		</switches>

	</system.diagnostics>
-->
	
 <!-- Logging settings -->
  <nlog>
    <targets>
      <target name="console" type="Console" layout="${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" maxLevel="Fatal" writeTo="Console"/>
    </rules>
  </nlog>

	
</configuration>
